<section id="about" class="py-24 mt-40 bg-white text-yellow-800 eb-garamond-regular px-6">
    <div class="max-w-4xl mx-auto space-y-6 text-lg leading-relaxed">

        <h2 class="text-4xl  font-semibold text-left mb-6">Mere om mig</h2>
        <div class="grid md:grid-cols-2 gap-8 items-center">

            <div>
                <img src="{{ asset('images/demo.jpg') }}" class="object-contain md:object-cover" >
            </div>
            <div>
                <p>
                    Jeg bor i Horsens sammen med min kæreste og min bonusdatter.
                    Det nære familieliv betyder meget for mig. Jeg tror på balance mellem det
                    kreative og det tekniske – både i mit arbejde og i min fritid.
                </p>
                <p>
                    Når jeg ikke sidder og koder, kan du finde mig med en blyant i hånden – jeg elsker at tegne,
                    være kreativ, og nørde med elektronik og svagstrøm – særligt alt det, der lyser og blinker.
                    Det er fascinationen af at bygge noget, få det til at virke og give det liv,
                    der driver mig – uanset om det er i kode eller kobbertråd.
                </p>
                <p>
                    Jeg er nysgerrig af natur, detaljeorienteret, og har det bedst, når jeg både kan tænke, tegne og bygge.
                </p>

            </div>
        </div>

    </div>
</section>
