<>
    <section id="more-about"
             class="py-24 mt-40 bg-white text-yellow-800 eb-garamond-regular px-6 text-base leading-relaxed">
        <div class="max-w-6xl mx-auto space-y-10">


            <!-- Heading -->
            <div class="space-y-4">
                <div class="w-20 border-t-8 border-yellow-500"></div>
                <h2 class="text-4xl font-bold text-yellow-600">Mere om mig</h2>
            </div>

            <!-- Content Grid -->
            <div class="grid md:grid-cols-2 gap-12 items-start">
                <!-- Text -->
                <div class="space-y-6 text-[1.125rem]">
                    <p>
                        Jeg er {{ "now"|date("Y") - 1989 }} år gammel, bor i Horsens sammen med min kæreste og min
                        bonusdatter.
                        Det nære familieliv betyder meget for mig, og tror på balance mellem det
                        kreative og det tekniske – både i mit arbejde og i min fritid.
                    </p>
                    <p>
                        Når jeg ikke sidder og koder, kan du finde mig med en blyant i hånden – jeg elsker at tegne,
                        være kreativ, og nørde med elektronik og svagstrøm – særligt alt det, der lyser og blinker.
                        Det er fascinationen af at bygge noget, få det til at virke og give det liv,
                        der driver mig – uanset om det er i kode eller kobbertråd.
                    </p>
                    <p>
                        Jeg er nysgerrig af natur, detaljeorienteret, og har det bedst, når jeg både kan tænke, tegne og
                        bygge.
                    </p>
                </div>

                <!-- Image -->
                <div>
                    <img src="{{ asset('images/minfamilie.png') }}" alt="Martin familie"
                         class="w-full  object-cover max-h-[400px]">
                </div>

            </div>


        </div>
    </section>
</>
