<section id="about" class="py-24 mt-40 mb-40 bg-white text-yellow-800 eb-garamond-regular px-6">
    <div class="max-w-4xl mx-auto space-y-6 text-lg leading-relaxed">
        <h2 class="text-4xl font-semibold text-left mb-6">Services</h2>
        <p>Her er nogle services</p>

        <div class="w-full grid gap-8">
            <!-- Row 1 -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <!-- Card 1 -->
                <div class="rounded-xl border-2 border-t-8 border-l-8 border-yellow-500 bg-white">
                    <div class="p-4">
                        <h3 class="text-lg font-bold text-gray-800 uppercase">Test</h3>
                        <p class="mt-2 text-gray-600">
                            A decentralized application (dapp) is an application built on a decentralized network that combines a smart contract and a frontend user interface.
                        </p>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="rounded-xl border-2 border-b-8 border-r-8 border-yellow-400 bg-white">
                    <div class="p-4">
                        <h3 class="text-lg font-bold text-gray-700 uppercase">Test</h3>
                        <p class="mt-2 text-gray-600">
                            A decentralized application (dapp) is an application built on a decentralized network that combines a smart contract and a frontend user interface.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Row 2 -->
            <div class="grid grid-cols-1  md:grid-cols-3 gap-8">
                <!-- Card 3 -->
                <div class="rounded-xl border-2 border-l-8 border-yellow-600 bg-white">
                    <div class="p-4">
                        <h3 class="text-lg font-bold text-gray-700 uppercase">Test</h3>
                        <p class="mt-2 text-gray-600">
                            A decentralized application (dapp) is an application built on a decentralized network that combines a smart contract and a frontend user interface.
                        </p>
                    </div>
                </div>

                <!-- Card 4 -->
                <div class="rounded-xl border-2 border-b-8 border-t-8 border-yellow-300 bg-white">
                    <div class="p-4">
                        <h3 class="text-lg font-bold text-gray-700 uppercase">Test</h3>
                        <p class="mt-2 text-gray-600">
                            A decentralized application (dapp) is an application built on a decentralized network that combines a smart contract and a frontend user interface.
                        </p>
                    </div>
                </div>

                <!-- Card 5 -->
                <div class="rounded-xl border-2 border-r-8 border-yellow-700 bg-white">
                    <div class="p-4">
                <span class="hover:border-b-2 border-yellow-300 rounded-xl">
                    <h3 class="text-lg font-bold text-gray-700 uppercase">Test</h3>
                </span>
                        <p class="mt-2 text-gray-600">
                            A decentralized application (dapp) is an application built on a decentralized network that combines a smart contract and a frontend user interface.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
