{
	# Optional global settings
}

frankenphp {
	worker {
		file /app/public/index.php
		env APP_RUNTIME Runtime\FrankenPhpSymfony\Runtime
	}
}

martindeveloper.online, www.martindeveloper.online {
	root * /app/public
	encode zstd br gzip

	@phpRoute {
		not path /.well-known/*
		not file {path}
	}
	rewrite @phpRoute index.php

	@frontController path index.php
	php @frontController

	file_server {
		hide *.php
	}
}
