<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Min Portefolie{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
        {% endblock %}
    </head>
    <body
            data-controller="background-grid"
            data-background-grid-icons-value='[
    "/icons/bulp.svg",
    "/icons/docker.svg",
    "/icons/pen.svg",
    "/icons/html.svg",
    "/icons/javascript.svg",
    "/icons/wordpress.svg",
    "/icons/mouse.svg",
    "/icons/php.svg",
    "/icons/symfony.svg",
    "/icons/laptop.svg",
    "/icons/react.svg",
    "/icons/github.svg",
    "/icons/laravel.svg"
  ]'
            data-background-grid-size-value="50"
            data-background-grid-rows-value="6"
    >

        {% include 'components/_nav.html.twig' %}
        {% block body %}
        {% endblock %}
        {% include 'components/_footer.html.twig' %}
        <a href="#"
           data-controller="back-to-top"
           data-action="click->back-to-top#scrollToTop"
           class="fixed bottom-6 right-6 z-50 bg-yellow-300 text-white text-2xl w-12 h-12 items-center justify-center leading-none rounded-full shadow-lg hover:bg-yellow-700 transition-all duration-300"
           id="back-to-top"
           aria-label="Back to top">
            ↑
        </a>



    </body>
</html>
